:root {
  --primary-color: #4caf50;
  --secondary-color: #2c3e50;
  --header-footer-color: #333;
  --text-color: #fff;
}

body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url(./public/pexels-min-o-2151190130-31556531.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
